#center {
    width: 700px;
    height: auto;
    margin: 20px auto;
    box-shadow:0 0 10px rgba(0,0,0,3);
}

#top {
    position: fixed;
    right: 30px;
    bottom: 30px;
 }

#test {
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding-top: 30px;
    text-align: justify;
}
p {
    font-family: verdana;
    font-size: 12px;
 }